.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin:  auto;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color:  #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    right: 30px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.filters button:hover {
    opacity: 0.9;
    }